@charset "utf-8";
.nav_bar .navbar.navbar-expand-lg.navbar-light.bg-light {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);
}
.nav_bar .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: hsla(0,100%,99%,1.00);
     font-family: 'loveloblack';
    src: url('lovelo_black-webfont.eot');
    src: url('lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('lovelo_black-webfont.woff2') format('woff2'),
         url('lovelo_black-webfont.woff') format('woff'),
         url('lovelo_black-webfont.ttf') format('truetype'),
         url('lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
	
    color: hsla(0,12%,97%,1.00);
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: hsla(0,8%,95%,1.00);
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    text-decoration: none;
    font-weight: bold;
    
}
body{
  
    border-width: thick;
    border-style: solid;
}
body h2 {
    
    
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	
    
}
body hr {
    border-radius: 200;
    border: thick solid hsla(0,0%,1%,0.93);
	border-style: inset
}


tr td a {
    color: hsla(0,0%,100%,1.00);
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}








#navbarSupportedContent1 .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
}



body footer {
   background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);
}



body table {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);
    border-radius: 500;
    color: hsla(0,100%,99%,1.00);
	
}

#navbarSupportedContent1 .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
    background-color: #0AF313;
    border-radius: 800;
    color: #120000;
    border-collapse: separate;
}
.row {
  
	width: 100%;

}


h6 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 100%);
    color: #FFFFFF;
    border-radius: 50;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: xx-large;
}
.card-body{
	border: thick;
}
	
	

